/KlimaUi/KlimaUi/climatesimulationAI/models/
/KlimaUi/KlimaUi/climatesimulationAI/train_data_2014_2100_ssp2.npy
/KlimaUi/KlimaUi/climatesimulationAI/Training/PreProcessing/developingnotebooks
/KlimaUi/KlimaUi/train_data_2014_2100_ssp2.npy